.App {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 20px;
  background-color: rgb(10, 14, 54);
  padding: 30px;
}

@media screen and (max-width: 500px) {
  .App {
    flex-wrap: nowrap;
    flex-direction: column;
  }
}
